#locationinfo.site {
    border: 3px double black;
}

#patinfo.nochange {
    border: 3px double red;
}

#patinfo.change {
    border: 3px double green;
}

/*div#patinfochange*/

#right.table {
    border: 2px black;
    background-color: lightpink;
}

#left.table {
    border: 2px black;
    background-color: lightseagreen;
}

#other.table {
    border: 2px black;
    background-color: lightskyblue;
}